*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

body{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100vh;
  margin-top: 2rem;
  margin-right: auto;
  margin-left: auto;
}
header, main, footer{
  width: 70%;
}

header nav{
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 2em;
  
} 

header nav #menu{
  display:flex;
  justify-content: flex-end;
  align-items: center;
}

header nav a{
  margin-left:0.5em;
  margin-right:0.5em;
}

header nav #name-logo{
  display:flex;
  justify-content: flex-start;
  align-items: center;
}

#home{
  text-align: center;
  padding-top: 4em;
  padding-bottom: 3em;
}

#home h1{
  font-size: 5em;
}



@media screen and (min-width:1025px) {
  header, main, footer{
    width: 80%;
  }
 
}




@media screen and (max-width:480px){
  header, main, footer{
    width: 80%;
  }

  header nav{
    display: flex;
    flex-direction: column;
    height: 6em;
    justify-content: space-evenly;
  } 

  header nav #menu{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:0.75em;
  }

  header nav #name-logo{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:2em;
  }
  
}