*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font:inherit;
  list-style-type: none;
  text-decoration: none;
}

body{
  height: 100%;
}

.header, main, footer{
  width:50%;
  margin:0 auto;
  border: 1px dashed red;
}

header{
  padding: 1em;
}

header .container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list{
  display: flex;
}

.nav-list a{
  font-size: 1.2rem;
  margin: 0 0.5em;
}

.container #name-logo{
  font-size: 1.2rem;
}

.hero{
  border: 1px solid red;
  padding: 4em 0;
}

main .hero h1{
  font-size: 2.5rem;
  text-align: center;
  font-weight:900

}

main .hero h2{
  font-size: 1rem;
  text-align: center;
  font-weight: 700;
}

.container-layer-2{
  width: 100%;
  display:grid;
  grid-template-columns: 1fr 1.1fr 1fr;
  
}

.projects,.work-experience, .education{
  /* background-color: aquamarine; */
  border: 1px dashed red;
  padding: 1em;
}

.projects h2, .work-experience h2, .education h2, .articles h2{
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom:0.7em;
 
}

.projects li{
  margin-bottom:1em;
}

.company *{
  margin-bottom: 0.5em;
}

.company{
  margin-bottom: 2.5em;
}

.education p{
  margin-bottom: 1em;
}

.reviews-container{
  border: 1px dashed red;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

.review{
  border: 1px dashed red;
  border-radius:1.5em;
  padding: 1em;
  display: grid;
  gap: 1em;
}

.review-content, .reviewee{
  border: 1px dashed red;
}

.articles{
  padding: 1em 1em 10em 1em;
}

footer{
  text-align: center;
  padding:1em 1em 10em 1em;
  font-size: 1.3rem;
  font-weight: 600;
}




/* header, main, footer{
  width:80%;
  background-color: burlywood;
  margin: auto; 
}


header nav{
  margin: auto;
  width: 90%;
  
  padding: 1em;
  display: flex;  
  outline: 2px dotted blue;
  justify-content: center;
}

header nav > *{
  outline: 2px solid lime;
  flex-shrink: 1;
  flex-grow: 1;
} */




/* body{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  padding-top: 2.5rem;
}
header, main, footer{
  width: 70%;
}

header nav{
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.5em;
  
} 

header nav #menu{
  display:flex;
  justify-content: flex-end;
  align-items: center;
}

header nav a{
  margin-left:0.5em;
  margin-right:0.5em;
}

header nav #name-logo{
  display:flex;
  justify-content: flex-start;
  align-items: center;
}

#home{
  text-align: center;
  padding-top: 10em;
  padding-bottom: 10em;
}

#home h1{
  font-size: 4em;
}







@media screen and (max-width:481px){
  header, main, footer{
    width: 80%;
  }

  header nav{
    display: flex;
    flex-direction: column;
    height: 6em;
    justify-content: space-evenly;
  } 

  header nav #menu{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:0.75em;
  }

  header nav #name-logo{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:0.9em;
  }

  #home{
    padding-top: 3em;
    padding-bottom: 3em;
  }

  #home h1{
    font-size: 1.7em;
  }

  #home h2{
    font-size: 0.9em;
  }
  
} */