*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid red;
}

body{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  padding-top: 2.5rem;
}
header, main, footer{
  width: 70%;
}

header nav{
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.5em;
  
} 

header nav #menu{
  display:flex;
  justify-content: flex-end;
  align-items: center;
}

header nav a{
  margin-left:0.5em;
  margin-right:0.5em;
}

header nav #name-logo{
  display:flex;
  justify-content: flex-start;
  align-items: center;
}

#home{
  text-align: center;
  padding-top: 10em;
  padding-bottom: 10em;
}

#home h1{
  font-size: 4em;
}







@media screen and (max-width:480px){
  header, main, footer{
    width: 80%;
  }

  header nav{
    display: flex;
    flex-direction: column;
    height: 6em;
    justify-content: space-evenly;
  } 

  header nav #menu{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:0.75em;
  }

  header nav #name-logo{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:0.9em;
  }

  #home{
    padding-top: 3em;
    padding-bottom: 3em;
  }

  #home h1{
    font-size: 1.7em;
  }

  #home h2{
    font-size: 0.9em;
  }
  
}